container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }

  .containerForm {
    width: 70%;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 0px;
    margin-top: -20px;
    margin-left: 150px;
  }

  .titleUser {
    margin-top: -15px;
    font-size:larger;
  }

  p {
    color: red;
    margin: 5px;
  }

  
  .field { 
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  input {
      height: 25px;
      width: 200px;
  }

  .formBtn{

    backface-visibility: hidden; 
    background-color: #37e278; 
    border-radius: 6px; 
    border-width: 0; 
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box; 
    color: #fff; 
    cursor: pointer; 
    width: 200px;
    height: 40px;
    margin-top: 10px;
  }
  .container {
    padding-bottom: 10px;
    height: 400px;
  }